<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://ap.greenwich.edu.vn/favicon.ico" type="image/x-icon">
    <title>Login</title>

    <!-- Google FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- Icon -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins',sans-serif;
        }

        html {
            scroll-behavior: smooth;
        }

        html,body{

            display: grid;
            height: 100vh;
            width: 100%;
            place-items: center;
            background: linear-gradient(to right, #3b5998 0%,#ff0080 100%);
        }

        .container {
            background-color: #fff;
            max-width: 350px;
            width: 100%;
            padding: 25px 30px;
            border-radius: 5px;
            box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
        }


        .container form .title {
            font-size: 30px;
            font-weight: 600;
            margin: 20px 0 10px 0;
            position: relative;
        }

        .container form .title::before {
            position: absolute;
            content: '';
            height: 4px;
            width: 33px;
            bottom: 1px;
            left: 0;
            border-radius: 5px;
            background: linear-gradient(to right, #99004D 0%,#ff0080 100%);

        }


        .container form .input-box{
            width: 100%;
            height: 45px;
            margin-top: 25px;
            position: relative;
        }

        .container form .input-box input {
            height: 100%;
            width: 100%;
            outline: none;
            font-size: 16px;
            border: none;
        }

        .container form .underline::before {
            position: absolute;
            content: '';
            height: 2px;
            width: 100%;
            background-color: #ccc;
            left: 0;
            bottom: 0;
        }

        .container form .underline::after {
            position: absolute;
            content: '';
            height: 2px;
            width: 100%;
            background: linear-gradient(to right, #99004D 0%,#ff0080 100%);
            left: 0;
            bottom: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: all 0.3s ease;
        }

        .container form .input-box input:focus ~ .underline::after,
        .container form .input-box input:valid ~ .underline::after
         {
            transform: scaleX(1);
            transform-origin: left;
        }

        .container form .button {
            margin: 48px 0 20px 0;
        }

        .container form .input-box input[type="submit"]
        {
            font-size: 17px;
            color: #fff;
            background: linear-gradient(to right, #99004D 0%,#ff0080 100%);
            border-radius: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .container form .input-box input[type="submit"]:hover {
            letter-spacing: 1px;
            background: linear-gradient(to left, #99004D 0%,#ff0080 100%);

        }

        .container .option {
            font-size: 14px;
            text-align: center;
        }

        .container .google a {
            display: block;
            width: 100%;
            height: 45px;
            font-size: 15px;
            text-decoration: none;
            padding-left: 20px;
            color: #fff;
            background: linear-gradient(to left, #3b5998 0%,#476bb8 100%);
            margin: 20px 0 15px 0;
            line-height: 45px;
            border-radius: 5px;
        }

        .container .google a:hover {
            background: linear-gradient(to right, #3b5998 0%,#476bb8 100%);

        }

        .container .google i {
            padding-right: 12px;
            font-size: 25px;
        }

    </style>

</head>

<body>
    <div class="container">
        <form action="/" method="POST">
            <div class="title">Login</div>
            <div class="input-box">
                <input name="username" type="text" placeholder="Enter Your Email...." required>
                <div class="underline"></div>
            </div>
            <div class="input-box">
                <input name="password" type="password" placeholder="Password...." required>
                <div class="underline"></div>
            </div>
            <div class="input-box button">
                <input type="submit" value="Login">
            </div>
        </form>
        <div class="option">Or  <a href="Register.html">Sign Up</a></div>
        <div class="google">
            <a href="#"><i class='bx bxl-google-plus-circle'></i>Login with Google</a>
        </div>
    </div>


    <div class="overlay"></div>
    <!-- script -->
    <!-- Charts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- admin JS -->
    <script src="./js/admin.js"></script>
</body>
</html>
