{{#extend "layout"}}

{{#content "main" mode="prepend"}}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="/css/chat.css">
{{/content}}

{{#content "main" mode="prepend"}}
<div class="">
    <div class="card message-box">
        <div class="card-body message-list">
            <div id="chat"></div>
        </div>
        <div class="card-footer">
            <form id="send_chat">
                <div class="row">
                    {{!-- <div class="col-3">
                        <label for="">{{user.name}}</label>
                    </div> --}}
                    <input type="hidden" id="n" value="{{user.name}}">
                    <input type="hidden" id="u" value="{{user.email}}">
                    <div class="col-11">
                        <input type="text" id="m" placeholder="Message" class="form-control" required>

                    </div>
                    <div class="col-1">
                        <button type="submit" id="form-submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>
    {{!-- <div class="card-footer">        
    </div> --}}
</div>


{{/content}}

{{#content "footer"}}
<script>
    const clients = [];
    $(function () {

        const socket = io('http://103.107.183.217:3001');
        socket.io.on('connection', client => {
            clients.push(client);
        })

        console.log(clients)
        $('#form-submit').click(function () {
            socket.emit('message', {
                name: $('#n').val(),
                message: $('#m').val(),
                username: $('#u').val()
            });
            $('#m').val('');
            return false;
        });

        socket.on('message', function (data) {
            if (data.client === data.id) {

            }
                $('#chat').append(`
            <div>
                <strong style="color: #${data.color}">${data.payload.name}</strong>:
                ${data.payload.message}
            <div>
            `);


        });
    });
</script>
{{/content}}
{{/extend}}
