<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://ap.greenwich.edu.vn/favicon.ico" type="image/x-icon">
    <title>Admin</title>

    <!-- Google FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- Icon -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/grid.css">

    {{#block "header"}}

    {{/block}}

</head>

<body>

    <!-- SIde bar -->
    <div class="sidebar">
        <div class="sidebar-logo">
            <img src="https://ap.greenwich.edu.vn/favicon.ico" alt="Comapny logo">
            <div class="sidebar-close" id="sidebar-close">
                <i class='bx bx-left-arrow-alt'></i>
            </div>
        </div>
        <div class="sidebar-user">
            <div class="sidebar-user-info">
                <img src="/uploads/admin/{{user.avatar}}" alt="User picture" class="profile-image">
                <div class="sidebar-user-name">
                    {{user.name}}
                </div>
            </div>
            <button class="btn btn-outline">
                <a href="/logout"><i class='bx bx-log-out bx-flip-horizontal'></i></a>
            </button>
        </div>
        <!-- SIDEBAR MENU -->
        <ul class="sidebar-menu">
            <li>
                <a href="#">
                    <i class='bx bx-search'></i>
                    <input type="search" placeholder="Search....">
                </a>
            </li>
            <li>
                <a href="index.html" class="active">
                    <i class='bx bx-home'></i>
                    <span>dashboard</span>
                </a>
            </li>
            <li class="sidebar-submenu">
                <a href="#" class="sidebar-menu-dropdown">
                    <i class="las la-user-graduate"></i>
                    <span>Students</span>
                    <div class="dropdown-icon"></div>
                </a>
                <ul class="sidebar-menu sidebar-menu-dropdown-content">
                    <li>
                        <a href="/trainee/index">
                            Students List
                        </a>
                    </li>
                    <li>
                        <a href="/trainee/create">
                            Students Add
                        </a>
                    </li>
                </ul>
            </li>

            <li class="sidebar-submenu">
                <a href="#" class="sidebar-menu-dropdown">
                    <i class="las la-chalkboard-teacher"></i>
                    <span>Teachers</span>
                    <div class="dropdown-icon"></div>
                </a>
                <ul class="sidebar-menu sidebar-menu-dropdown-content">
                    <li>
                        <a href="/trainer/index">
                            Teachers List
                        </a>
                    </li> </a>
            </li>
            <li>
                <a href="/trainer/create">
                    Teachers Add
                </a>
            </li>
        </ul>
        </li>
        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class="las la-chalkboard-teacher"></i>
                <span>Staff</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="/staff/index">
                        Staff List
                    </a>
                </li> </a>
        </li>
        <li>
            <a href="/staff/create">
                Staff Add
            </a>
        </li>
        </ul>
        </li>
        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class="las la-building"></i>
                <span>Category</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="/category/index">
                        Category List
                    </a>
                </li>
                <li>
                    <a href="/category/create">
                        Category Add
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class="las la-book-reader"></i>
                <span>Subjects</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="/subject/index">
                        Subjects List
                    </a>
                </li>
                <li>
                    <a href="/subject/create">
                        Subjects Add
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class="las la-book-reader"></i>
                <span>Courses</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="/course/index">
                        Course List
                    </a>
                </li>
                <li>
                    <a href="/course/create">
                        Course Add
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class="las la-book-reader"></i>
                <span>Course Detail</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="/course-detail/index">
                        Course Detail List
                    </a>
                </li>
                <li>
                    <a href="/course-detail/create">
                        Course Detail Add
                    </a>
                </li>
            </ul>
        </li>

        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class="las la-book-reader"></i>
                <span>Registration</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="/registration/index">
                        Registration List
                    </a>
                </li>
                <li>
                    <a href="/registration/create">
                        Registration Add
                    </a>
                </li>
            </ul>
        </li>


        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class="las la-shield-alt"></i>
                <span>Authentication</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="Login.html">
                        Login
                    </a>
                </li>
                <li>
                    <a href="Register.html">
                        Register
                    </a>
                </li>
                <li>
                    <a href="FogotPassword.html">
                        Forgot Password
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-submenu">
            <a href="#" class="sidebar-menu-dropdown">
                <i class='bx bx-cog'></i>
                <span>settings</span>
                <div class="dropdown-icon"></div>
            </a>
            <ul class="sidebar-menu sidebar-menu-dropdown-content">
                <li>
                    <a href="#" class="darkmode-toggle" id="darkmode-toggle">
                        darkmode
                        <span class="darkmode-switch"></span>
                    </a>
                </li>
            </ul>
        </li>
        </ul>

    </div>
    <!-- END SIDEBAR MENU -->

    <!-- main content -->
    <div class="main">
        <div class="main-header">
            <div class="mobile-toggle" id="mobile-toggle">
                <i class="bx bx-menu-alt-right"></i>
            </div>
            <div class="main-title">
                dashboard
            </div>
        </div>

        <div class="main-content">
            {{#block "main"}}

            {{/block}}
        </div>
    </div>
    <!-- END MAIN CONTENT -->

    <div class="overlay"></div>
    <!-- END main content -->
    <!-- script -->
    <!-- Charts -->
    {{#block "footer"}}

    {{/block}}
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- admin JS -->
    <script src="/js/admin.js"></script>
</body>

</html>
