html {
	height: 100%;
}

.card {
    border: 1px solid #ececf5;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.03);
    margin-bottom: 1.875rem;
}
.card-body {
	padding: 1.5rem;
}
.card-header {
	border-bottom: 1px solid #e6e6e6;
	padding: 1rem 1.5rem;
}
.card-footer {
	background-color: #fff;
	border-top: 1px solid #e6e6e6;
	padding: 1rem 1.5rem;
}
.card .card-header {
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
}
.card .card-header .card-title {
    margin-bottom: 0;
}

 .card-body {
	background-color: #fff;
	color: #333;
	font-family: 'Poppins', sans-serif;
	font-size: 1rem;
	height: 100%;
	line-height: 1.5;
	overflow-x: hidden;
}

.form-group .form-line {
    width: 100%;
    position: relative;
    border-bottom: 1px solid #bdbdbd;
}

.form-group .form-control {
    width: 100%;
    border: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0;
    padding-left: 0;
}

.form-group .form-line:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 0;
    bottom: -1px;
    transform: scaleX(0);
    transition: 0.25s ease-in;
    border-bottom: 2px solid #1f91f3;
}

.form-group .form-control {
    margin-bottom: 7px;
}

.form-control, .form-group .form-control {
    border: 0;
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom,center calc(100% - 1px);
    background-color: rgba(0,0,0,0);
    transition: background 0s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    position: relative;
}

.form-control {
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.428571429;
}



input,
button
{
    outline: none;
	transition: all 0.4s ease;
}

input, input:focus,
button, button:focus {
	outline: none;
}
input[type="file"] {
    height: auto;
    min-height: calc(1.5em + .75rem + 2px);
}
input[type=text],
input[type=password] {
	appearance: none;
}

textarea.form-control {
	resize: vertical;
    outline: none;
}

.form-group {
	margin-bottom: 1.25rem;
}
.input-group .form-control {
	height: 40px;
}

.font-weight-600 {
	font-weight: 600;
}

.btn-primary {
	background-color: #FFBC53;
	border: 1px solid #FFBC53;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
	background-color: #18aefa;
	border: 1px solid #18aefa;
}

.btn-primary.active:not(:disabled):not(.disabled),
.btn-primary:active:not(:disabled):not(.disabled),
.show > .btn-primary.dropdown-toggle {
	background-color: #18aefa;
	border-color: #18aefa;
	color: #fff;
}

.btn-primary.disabled, .btn-primary:disabled {
    background-color: #FFBC53;
    border-color: #FFBC53;
    color: #fff;
}

.btn-1 {
    background-color: transparent;
    border: none;
    outline: none;
    display: grid;
    cursor: pointer;
    color: var(--main-color);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.btn-1 a {

}
