:root {
    --body-bg: #fafafb;
    --box-bg: #ffffff;
    --main-color: #0652dd;
    --text-color: #455560;
    --text-second-color: #72849ab3;
    --border-color: #e9e9e9;
    --menu-item-active-bg: rgba(62, 121, 247, 0.1);

    --box-border-radius: 15px;
    --sidebar-size: 240px;
    --sidebar-logo-img-size: 45px;
    --sidebar-logo-size: 80px;
    --profile-image-size: 45px;
    --main-header-height: 80px;
    --shadow: 0 1px 4px -1px rgb(0 0 0 / 15%);
    --darkmode-toggle-size: 20px;
}
html {
    scroll-behavior: smooth;
}
.dark {
    --body-bg: #1a191f;
    --box-bg: #1a191f;
    --border-color: #222028;
    --text-color: #b9b9b9;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--body-bg);
    color: var(--text-color);
    position: relative;
}

a {
    text-decoration: none;
    color: unset;
    display: inline-block;
}

.sidebar {
    background-color: var(--box-bg);
    position: fixed;
    top: 0;
    left: 0;
    width: var(--sidebar-size);
    height: 100vh;
    box-shadow: var(--shadow);
    overflow-y: auto;
}

.dark .sidebar {
    border-right: 2px solid var(--border-color);
}

.sidebar-logo {
    height: var(--sidebar-logo-size);
    position: relative;
    padding: 10px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-logo img {
    height: var(--sidebar-logo-img-size);
    max-width: 100%;
}

.sidebar-close {
    display: none;
}

.sidebar-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.sidebar-user-info {
    display: flex;
    align-items: center;
}

.sidebar-user-name {
    margin-left: 10px;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: capitalize;
}

.profile-image {
    width: var(--profile-image-size);
    height: var(--profile-image-size);
    border-radius: 10px;
}

.btn {
    background-color: transparent;
    border: none;
    outline: none;
    display: grid;
    place-items: center;
    cursor: pointer;
    color: var(--main-color);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.btn i {
    font-size: 1.15rem;
}

.btn-outline {
    border: 1.5px solid var(--main-color);
    transition: background-color 0.2s ease-in-out;
}

.btn-outline:hover {
    background-color: var(--main-color);
    color: #fff;
}

.sidebar-menu {
    padding: 10px 0;
    list-style-type: none;
}

.sidebar-menu > li > a {
    width: 100%;
    padding: 15px;
    height: 45px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    transition: color 0.2s ease-in-out;
}

.sidebar-menu > li > a.active {
    background-color: var(--menu-item-active-bg);
    color: var(--main-color);
    border-right: 4px solid var(--main-color);
}

.sidebar-menu > li > a:hover {
    color: var(--main-color);
}

.sidebar-menu > li > a > i {
    font-size: 1.5rem;
    margin-right: 10px;
}

.sidebar > ul > li > a > input {
    top: 0;
    left: 0;
    padding-left: 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: var(--main-header-height);
    font-size: 19px;
    height: 100%;
    width: 100%;
}

.sidebar > ul > li > a > .bx-search {
    z-index: 99;
    color: #333;
    font-size: 22px;
}

.sidebar-menu-dropdown {
    position: relative;
}

.sidebar-menu-dropdown .dropdown-icon {
    position: absolute;
    right: 15px;
}

.dropdown-icon {
    --size: 15px;
    --color: var(--text-color);
    height: var(--size);
    width: var(--size);
    position: relative;
    cursor: pointer;
}

.dropdown-icon::after,
.dropdown-icon::before {
    --height: 2px;
    content: "";
    width: 50%;
    height: var(--height);
    border-radius: 2.5px;
    position: absolute;
    top: calc(50% - var(--height) / 2);
    background-color: var(--color);
    transition: transform 0.3s ease;
}

.dropdown-icon::before {
    left: calc(50% - var(--height) / 3);
    transform-origin: center left;
    transform: rotate(-45deg);
}

.dropdown-icon::after {
    right: calc(50% - var(--height) / 3);
    transform-origin: right;
    transform: rotate(45deg);
}

.dropdown-icon.active::before {
    transform: rotate(45deg);
}

.dropdown-icon.active::after {
    transform: rotate(-45deg);
}

.sidebar-menu > li > a:hover > .dropdown-icon {
    --color: var(--main-color);
}

.sidebar-menu-dropdown-content {
    padding: 0;
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
}

.sidebar-menu-dropdown-content > li > a {
    padding-left: 50px;
}

.darkmode-toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.darkmode-switch {
    --height: var(--darkmode-toggle-size);
    --width: calc(var(--height) * 2);
    height: var(--height);
    width: var(--width);
    border-radius: calc(var(--height) / 2);
    background-color: #f5f6fa;
    position: relative;
}

.darkmode-switch::before {
    content: "";
    --height: 20px;
    --main-color: #0652dd;
    width: var(--height);
    height: var(--height);
    position: absolute;
    left: 0;
    border-radius: 50%;
    background-color: var(--main-color);
    transition: left 0.3s ease-in-out;
}

.darkmode-switch.active::before {
    left: 50%;
}

.main {
    padding-left: var(--sidebar-size);
}

.main-header {
    height: var(--main-header-height);
    display: flex;
    align-items: center;
    padding:20px;
    background-color: var(--box-bg);
    box-shadow: var(--shadow);

}

.dark .main-header {
    border-bottom: 2px solid var(--border-color);
}

.mobile-toggle {
    display: none;
}

.main-title {
    text-transform: capitalize;
    font-size: 1.5rem;

}

.main-content {
    padding: 20px;
}

.box,  .box-second, .box-third {
    background-color: var(--box-bg);
    padding: 20px;
    border: .5px solid var(--border-color);
    border-radius: var(--box-border-radius);
}

.box-hover:hover {
    border-color: var(--main-color);
}

.counter-title  {
    margin-bottom: 20px;
    text-transform: capitalize;
}

.counter-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: 700;
}

.counter-info i {
    color: var(--main-color);
}

.box-header {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 700;
}

.box-header {
    text-transform: capitalize;
    font-size: 1.25rem;
    font-weight: 700;
}

.box-body {
    padding: 20px 0;
}

.student-list {
    list-style-type: none;
}

.student-list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.item-info {
    display: flex;
    align-items: center;
}

.item-info img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
}

.student-name,
.student-stars {
    font-weight: 600;
    text-transform: capitalize;
}

.student-name {
    margin-bottom: 5px;
}

.student-stars {
    margin-top: 5px;
}

.text-second {
    color: var(--text-second-color);
}

.item-star-info {
    text-align: right;
}

.f-height {
    height: 100%;
}

table {
    width: 100%;
    min-width: 1000px;
}

.name-owner {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    font-weight: 500;
}

.name-owner img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 15px;
}

table thead tr {
    text-align: left;
}

table th,
table td {
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}

.slot {
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 500;
}



.name-slot {
    color: #00ab6f;
    background-color: rgba(4, 209, 130, 0.1);
}

.teach-status {
    display: flex;
    align-items: center;
}

.teach-status .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.teach-paid .dot {
    background-color: #04d182;
}

.overflow-scroll {
    overflow-y: auto;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.overlay.active {
    display: block;
}

@media only screen and (max-width: 1280px) {
    .sidebar {
        transition: transform 0.3s ease-in-out;
        max-width: 100%;
        z-index: 99;
        transform: translateX(-100%);
        }

    .sidebar.active {
        transform: translateX(0);
    }

    .main {
        padding-left: 0;
    }

    .mobile-toggle,
    .sidebar-close {
        display: grid;
        place-items: center;
        font-size: 2rem;
        margin-right: 30px;
        cursor: pointer;
    }

    .sidebar-close {
        position: absolute;
        right: -15px;
    }
}
