{{#extend "layout"}}

{{#content "header" mode="prepend"}}
    <link rel="stylesheet" href="/css/students.css">
{{/content}}

{{#content "main"}}
<div class="main-header">
    <div class="mobile-toggle" id="mobile-toggle">
        <i class="bx bx-menu-alt-right"></i>
    </div>
    <div class="main-title">
        Add Subjects
    </div>
</div>

<div class="col-12" style="margin-top: 15px;">
    <!--  TABLE -->
    <div class="box">
        <div class="box-header">
            Basic Information
        </div>
        <div class="box-body overflow-scroll">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-body">
                        <form method="POST">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label>Subjects Name</label>
                                            <input type="text" name="sub_name" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label>Subjects Detail</label>
                                            <textarea name="sub_description" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label>Subject Code</label>
                                            <input type="text" name="sub_code" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label>Credit</label>
                                            <input type="number" name="credit" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                  <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label>Slot</label>
                                            <input type="number" name="slot" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <!-- END  TABLE -->
</div>

{{/content}}

{{/extend}}
