{{#extend "layout"}}

{{#content "main" mode="append"}}

<div class="col-12" style="margin-top: 15px;">
    <!-- ORDERS TABLE -->
    <div class="box">
        <div class="box-header">
            Students List
        </div>
        <div class="box-body overflow-scroll">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Students Name</th>
                        <th>BoD</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Address</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>GCH18833</td>
                        <td>
                            <div class="name-owner">
                                <span>Hoang van Tng</span>
                            </div>
                        </td>
                        <td>17/11/2000</td>
                        <td>
                            <span class="slot name-shipped">
                                tunghvgch18833@fpt.edu.vn
                            </span>
                        </td>
                        <td>
                            <div class="teach-status teach-paid">
                                <div class="dot"></div>
                                <span>0315446787</span>
                            </div>
                        </td>
                        <td>Ha Noi</td>
                        <td class="text-right">
                            <div class="actions">
                                <a href="./StudentsEdit.html">
                                    <i class='bx bxs-edit'></i>
                                </a>
                                <a href="#">
                                    <i class='bx bxs-trash'></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>GCH18844</td>
                        <td>
                            <div class="name-owner">
                                <span>Hoang Van TUng</span>
                            </div>
                        </td>
                        <td>17/11/2000</td>
                        <td>
                            <span class="slot name-shipped">
                                tunghvgch18833@fpt.edu.vn
                            </span>
                        </td>
                        <td>
                            <div class="teach-status teach-paid">
                                <div class="dot"></div>
                                <span>0315446787</span>
                            </div>
                        </td>
                        <td>Ha Noi</td>
                        <td class="text-right">
                            <div class="actions">
                                <a href="./StudentsEdit.html">
                                    <i class='bx bxs-edit'></i>
                                </a>
                                <a href="#">
                                    <i class='bx bxs-trash'></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>GCH18844</td>
                        <td>
                            <div class="name-owner">
                                <span>Hoang Van Tung</span>
                            </div>
                        </td>
                        <td>17/11/2000</td>
                        <td>
                            <span class="slot name-shipped">
                                tunghvgch18833@fpt.edu.vn
                            </span>
                        </td>
                        <td>
                            <div class="teach-status teach-paid">
                                <div class="dot"></div>
                                <span>0315446787</span>
                            </div>
                        </td>
                        <td>Ha Noi</td>
                        <td class="text-right">
                            <div class="actions">
                                <a href="./StudentsEdit.html">
                                    <i class='bx bxs-edit'></i>
                                </a>
                                <a href="#">
                                    <i class='bx bxs-trash'></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>GCH18844</td>
                        <td>
                            <div class="name-owner">
                                <span>Hoang Van Tung</span>
                            </div>
                        </td>
                        <td>17/11/2000</td>
                        <td>
                            <span class="slot name-shipped">
                                tunghvgch18833@fpt.edu.vn
                            </span>
                        </td>
                        <td>
                            <div class="teach-status teach-paid">
                                <div class="dot"></div>
                                <span>0315446787</span>
                            </div>
                        </td>
                        <td>Ha Noi</td>
                        <td class="text-right">
                            <div class="actions">
                                <a href="./StudentsEdit.html">
                                    <i class='bx bxs-edit'></i>
                                </a>
                                <a href="#">
                                    <i class='bx bxs-trash'></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>GCH18844</td>
                        <td>
                            <div class="name-owner">
                                <span>Hoang Van Tung</span>
                            </div>
                        </td>
                        <td>17/11/2000</td>
                        <td>
                            <span class="slot name-shipped">
                                tunghvgch18833@fpt.edu.vn
                            </span>
                        </td>
                        <td>
                            <div class="teach-status teach-paid">
                                <div class="dot"></div>
                                <span>0315446787</span>
                            </div>
                        </td>
                        <td>Ha Noi</td>
                        <td class="text-right">
                            <div class="actions">
                                <a href="./StudentsEdit.html">
                                    <i class='bx bxs-edit'></i>
                                </a>
                                <a href="#">
                                    <i class='bx bxs-trash'></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END ORDERS TABLE -->



    {{/content}}

    {{/extend}}
